@using Project.Web.Common
@{
    Layout = "~/Views/Shared/_LayoutOuter.cshtml";
     SessionHelper session = new  SessionHelper();   
    ViewBag.Title = "User Setting";
}
    
<div class="main_content">
    
<div class="container">

<div class="setting_form_sec">
            <h2 id="settinguname"> </h2>
            <div>
          <!-- Nav tabs -->
          <div class="setting_tab">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#setting" aria-controls="setting" role="tab" data-toggle="tab">Settings</a></li>
            <li role="presentation"><a href="#defaults" aria-controls="defaults" role="tab" data-toggle="tab">Defaults</a></li>
            <li role="presentation"><a href="#notification" aria-controls="notification" role="tab" data-toggle="tab" onclick ="getNotificationSetting()">Notifications</a></li>
            <li role="presentation"><a href="#organisation" aria-controls="organisation" role="tab" data-toggle="tab"> Request access to an organisation</a></li>
            <li role="presentation"><a href="#searches" aria-controls="searches" role="tab" data-toggle="tab">Saved searches</a></li>
          </ul>
          </div>
        
          <!-- Tab panes -->
          <div class="setting_tab_content">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active setting_form" id="setting">
                <form class=" form-horizontal set_form">
                   <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-3 control-label">Email</label>
                     <div class="col-sm-9">
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" readonly>
                    </div>
                   </div>
                  <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label">first Name</label>
                    <div class="col-sm-9">
                    <input type="text" class="form-control" id="firstName" placeholder="Jessy">
                    </div>
                  </div>
                   <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label">last Name</label>
                    <div class="col-sm-9">
                    <input type="text" class="form-control" id="lastName" placeholder="dhanjal">
                    </div>
                  </div>
                  <div class="form-group" >
                    <label for="share code" class="col-sm-3 control-label">share code</label>
                    <div class="col-sm-9">
                    <input type="text" class="form-control" id="sharecode" placeholder="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="share description" class="col-sm-3 control-label">share description</label>
                    <div class="col-sm-9">
                    <input type="text" class="form-control" id="sharedescription" placeholder="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="ResetPassword" class="col-sm-3 control-label">Reset Password</label>
                    <div class="col-sm-9">
                    <input type="password" class="form-control" id="ResetPassword" placeholder="">
                    <span class="char_set">8 characters or longer, containing 2 numbers and 2 letters </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="confirmPassword" class="col-sm-3 control-label">confirm Password</label>
                    <div class="col-sm-9">
                    <input type="password" class="form-control" id="confirmPassword" placeholder="">
                    </div>
                  </div>
                  <div class="form-group common_button">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                     <button type="submit" class="btn_common" onclick="return setUserSetting();">save</button>
                     <button type="submit">cancel</button>
                     </div>
                  </div>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane default_form" id="defaults">
              <form class=" form-horizontal set_form">
                   <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-4 control-label">default organisation</label>
                     <div class="col-sm-8">
                       <select class="form-control"><option>university radiology</option></select>
                    </div>
                   </div>
                  <div class="form-group">
                    <label for="firstName" class="col-sm-4 control-label">default view</label>
                    <div class="col-sm-8">
                    <select class="form-control"><option>studies</option></select>
                    </div>
                  </div>
                   <div class="form-group">
                    <label for="lastName" class="col-sm-4 control-label">default study list</label>
                    <div class="col-sm-8">
                     <select class="form-control"><option></option></select>
                    </div>
                  </div>
                  <div class="form-group" >
                    <label for="share code" class="col-sm-4 control-label">default date format</label>
                    <div class="col-sm-8">
                    <select class="form-control"><option>MM-DD-YYYY</option></select>
                    </div>
                  </div>
                  
                  <div class="form-group common_button">
                    <label class="col-sm-4 control-label"></label>
                    <div class="col-sm-8">
                     <button type="submit" class="btn_common">save</button>
                     </div>
                  </div>
                </form>
            
            </div>
            <div role="tabpanel" class="tab-pane notification_form" id="notification">
            <form>
              <table class="table">
                        <thead>
                            <tr>
                               <th></th>
                                <th><span>on share</span> <input type="checkbox" id="allonshare"></th>
                                <th><span>approval request</span> <input type="checkbox" id="allapprreq"></th>
                                <th><span>on upload</span> <input type="checkbox" id="allonupload"></th>
                                <th><span>on harvest</span> <input type="checkbox" id="allonharvest"></th>
                                <th><span>on upload fail</span> <input type="checkbox" id="onuploadfail"></th>
                                <th><span>report attached</span> <input type="checkbox" id="allreporattach"></th>
                                <th><span>link used</span> <input type="checkbox" id="alllinkedused"></th>
                                <th><span>my link used</span> <input type="checkbox" id="allmylinked"></th>
                                <th><span>study status change</span> <input type="checkbox" id="stdstchange"></th>                                
                            </tr>
                        </thead>
                        <tbody id="notsetting">
                           
                        </tbody>
                    </table>
                    <div class="form-group common_button">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                     <button type="submit" class="btn_common" onclick="return setNotificationSetting();">save settings</button>
                     </div>
                  </div>
                    </form>
            </div>
            <div role="tabpanel" class="tab-pane organisation_form" id="organisation">
             <form class=" form-horizontal set_form">
                   <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-4 control-label"> organisation</label>
                     <div class="col-sm-8">
                       <select class="form-control"><option>Select an organisation</option></select>
                    </div>
                   </div>
                  <div class="form-group common_button">
                    <label class="col-sm-4 control-label"></label>
                    <div class="col-sm-8">
                     <button type="submit" class="btn_common">send request</button>
                     <button type="submit">cancel</button>
                     </div>
                  </div>
                </form>
            
            </div>
            <div role="tabpanel" class="tab-pane searches_form" id="searches">
              <div class="row">
                 <div class="col-sm-12">
                 <div class="new_button">
                	<a href="#"><i aria-hidden="true" class="fa fa-plus"></i>new compound search</a>
                </div>
                 </div>
              <div class="col-sm-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>name </th>
                                <th>type </th>
                                <th>criteria</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="3">No saved searches found.</td>
                                <td></td>
                                <td></td>
                            </tr>
                
                        </tbody>
                    </table>
                 </div>
              </div>
            </div>
          </div>
          </div>
        </div>
    </div>
 </div>
    <div class="clearfix"></div>
  </div>


<script type="text/javascript">
  

    function setNotificationSetting() {
        var i = -1, j = 0;
        $('#notsetting').find('tr').each(function () {

            $(this).find('td').each(function () {
                var column = $(this);
                if (column.find('input[type="checkbox"]').is(':checked')) {                     
                 
                    alert('Hello' + i);

                }
                i++;
            });

            alert($('#namesuuid' + j).val());
            j++;
        });

        return false;

    }

    function getNotificationSetting() {

        var sid = '@session.UserSession.sid';
       
        $.ajax({
            url: 'https://access.dicomgrid.com/api/v3/user/namespace/list',
            dataType: "json",
            type: "POST",
            //contentType: 'application/json; charset=utf-8',
            data: { "sid": sid },
            async: false,
            // beforeSend: function (data) { data.setRequestHeader("Authorization", make_base_auth("info@twinpod.com", "info1234")) },
            // processData: false,
            cache: false,
            success: function (data) {                                 
                var _html = "";
                var j = 0;
                _html += "<tr><td colspan='10' class='left_txt'>organisation</td></tr>";
                for (var i = 0; i < data.namespaces.length; i++) {
                    if(data.namespaces[i].type == "account_id"){
                        _html += "<tr><td>" + data.namespaces[i].name + "</td><td id='onshare'><input type='text' id='namesuuid"+j+"' value='"+data.namespaces[i].uuid+"'/><input type='checkbox' " + ((data.namespaces[i].events.event_share == 1) ? 'checked' : '') + " ></td><td id='allapprreq'><input type='checkbox' " + ((data.namespaces[i].events.event_approve == 1) ? 'checked' : '') + "></td><td id='allonupload'><input type='checkbox'  " + ((data.namespaces[i].events.event_upload == 1) ? 'checked' : '') + "></td>";
                        _html += "<td id='allonharvest'><input type='checkbox' " + ((data.namespaces[i].events.event_harvest == 1) ? 'checked' : '') + "></td><td id='onuploadfail'><input type='checkbox' " + ((data.namespaces[i].events.event_upload_fail == 1) ? 'checked' : '') + "></td><td id='allreporattach'><input type='checkbox' " + ((data.namespaces[i].events.event_new_report == 1) ? 'checked' : '') + "></td><td id='alllinkedused'><input type='checkbox' " + ((data.namespaces[i].events.event_link == 1) ? 'checked' : '') + "></td>";
                        _html += "<td id='allmylinked'><input type='checkbox' " + ((data.namespaces[i].events.event_link_mine == 1) ? 'checked' : '') + "></td><td id='stdstchange'><input type='checkbox' " + ((data.namespaces[i].events.event_status_change == 1) ? 'checked' : '') + " ></td></tr>";
                        j++;
                    }
                }

                _html += "<tr><td colspan='10' class='left_txt'>user</td></tr>";

                for(var i=0;i< data.namespaces.length;i++){
                    if (data.namespaces[i].type == "user_id") {
                        _html += "<tr><td>" + data.namespaces[i].name + "</td><td id='onshare'><input type='text' id='namesuuid" + j + "' value='" + data.namespaces[i].uuid + "'/><input type='checkbox' " + ((data.namespaces[i].events.event_share == 1) ? 'checked' : '') + " ></td><td id='allapprreq'><input type='checkbox' " + ((data.namespaces[i].events.event_approve == 1) ? 'checked' : '') + "></td><td id='allonupload'><input type='checkbox'  " + ((data.namespaces[i].events.event_upload == 1) ? 'checked' : '') + "></td>";
                        _html += "<td id='allonharvest'><input type='checkbox' " + ((data.namespaces[i].events.event_harvest == 1) ? 'checked' : '') + "></td><td id='onuploadfail'><input type='checkbox' " + ((data.namespaces[i].events.event_upload_fail == 1) ? 'checked' : '') + "></td><td id='allreporattach'><input type='checkbox' " + ((data.namespaces[i].events.event_new_report == 1) ? 'checked' : '') + "></td><td id='alllinkedused'><input type='checkbox' " + ((data.namespaces[i].events.event_link == 1) ? 'checked' : '') + "></td>";
                        _html += "<td id='allmylinked'><input type='checkbox' " + ((data.namespaces[i].events.event_link_mine == 1) ? 'checked' : '') + "></td><td id='stdstchange'><input type='checkbox' " + ((data.namespaces[i].events.event_status_change == 1) ? 'checked' : '') + " ></td></tr>";
                        j++;
                    }
                }
                
                $('#notsetting').html(_html);
            },
            error: function (xhr) {

                alert("Error");
            }
        });
    }

    function setUserSetting() {
        var sid = '@session.UserSession.sid';
        var uuid = '@session.UserSession.uuid';
        var email = $('#exampleInputEmail1').val();
        var fname = $('#firstname').val();
        var lname = $('#lastname').val();
        var sharecode = $('#sharecode').val();
        var desc = $('#sharedescription').val();
        var ResetPassword = $('#ResetPassword').val();
        var confirmPassword = $('#confirmPassword').val();

        alert("sid =" + sid + "/ uuid - " + uuid);

        $.ajax({
            url: 'https://access.dicomgrid.com/api/v3/user/set',
            dataType: "json",
            type: "POST",
            //contentType: 'application/json; charset=utf-8',
            data: { "sid": sid, "uuid": uuid, "first": fname, "last": lname, "email": email, "password": confirmPassword, "share_code": sharecode, "share_description": desc },
            async: false,
            // beforeSend: function (data) { data.setRequestHeader("Authorization", make_base_auth("info@twinpod.com", "info1234")) },
            // processData: false,
            cache: false,
            success: function (data) {
                                 
                alert("Updated Successfully");
            },
            error: function (xhr) {

                alert("Error");
            }
        });

        return false;
    }
</script>